

<div class="wrapper">
    <form action="/users/create-session" method="POST" class="login">
      <p class="title">Log in</p>
      <input type="email" placeholder="Email" name="email"required/>
      <i class="fa fa-user"></i>
      <input type="password" name="password" placeholder="Password" required/>
      <i class="fa fa-key"></i>
      <a href="#">Forgot your password?</a>
      <button>
        <i class="spinner"></i>
        <span class="state">Sign In</span>
      </button>
    </form>
    <footer><a target="blank" href="https://github.com/sagar-demo">@Sagar</a></footer>
    </p>
</div>
<div>
<p>
  <a href="/users/auth/google">Google Sign In/Sign Up</a>
</p>
</div>