body {
    background-image: url('https://images.pexels.com/photos/927629/pexels-photo-927629.jpeg?cs=srgb&dl=pexels-tobias-dziuba-927629.jpg&fm=jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }

#home-container{
    display: flex;
    #feed-posts{
        width: 70%;
        padding: 10px;
    }
    #user-friends{
        width: 30%;
         padding: 10px;
        border-left: 1px solid lightgray;
        height: 100%;
    }
}
